NEWS_API_KEY=YOUR_NEWS_API_KEY
FOOTBALL_DATA_API_KEY=YOUR_FOOTBALL_DATA_KEY

FRANKFURTER_BASE_URL=https://api.frankfurter.app/latest
WTTR_BASE_URL=https://wttr.in
NEWS_API_BASE_URL=https://newsapi.org/v2/everything
ALADHAN_API_URL=http://api.aladhan.com/v1/timingsByCity
ADVICE_API_URL=https://api.adviceslip.com/advice
LOCAL_FINANCE_URL=http://localhost:8000/fiyatlar
FOOTBALL_DATA_API_URL=https://api.football-data.org/v4
